body {
    margin: 0;
    padding: 0;
}
#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.app-left {
    position: absolute;
    width: 400px;
    left: 40px;
    height: 100%;
}
.app-center {
    position: absolute;
    left: 440px;
    right: 440px;
    top: 40px;
    bottom: 10px;
}
.new-data {
    position: absolute;
    top: 700px;
    bottom: 0;
    left: 40px;
    right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #000;
}
.app-right {
    position: absolute;
    /* background: #000; */
    right: 40px;
    width: 400px;
    height: 100%;
}
.new-ids {
  width: 400px;
  height: 280px;
  margin-top: 40px;
  background: #000;
}
.new-cameras {
  width: 400px;
  height: 280px;
  margin-top: 40px;
  background: #000;
}
.new-location {
   position: absolute;
   top: 682px;
   bottom: 10px;
   width: 100%;
   background-color: #000;
}
.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.el-input__inner {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.el-picker-panel {
    background: #000 !important;
    border-radius: 0 !important;
}
.el-date-table td.current:not(.disabled) span {
    background: #34AB98 !important;
}

.el-date-table td.today span {
    color: #fff !important;
}

.el-date-table td.available:hover {
    color: #34AB98 !important;
}

.el-picker-panel__icon-btn {
    color: #fff !important;
}
.el-date-picker__header-label {
    color: #fff !important;
}
.el-input--prefix .el-input__inner {
    font-size: 18px;
    color: #fff !important;
    background: #000000;
}
.el-input__icon {
  display: none;
}
.el-input--prefix .el-input__inner {
    text-align: center;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 400px;
}
.el-date-table td div {
    height: 46px;
}
.el-date-picker .el-picker-panel__content {
    width: 382px;
}
.el-date-table th {
    border-bottom: 0;
}
.el-date-picker {
    width: 400px;
    top: 90px !important;
    border: 0;
}
.popper__arrow {
    display: none !important;
}
.el-input--prefix .el-input__inner {
    height: 62px;
    border: 0;
}
.el-input__inner {
    color: #fff;
}
.cap-alarm {
    display: flex;
    background-color: #000;
    margin-top: 40px;
    width: 400px;
    height: 160px;
    text-align: center;
}
.today-cap {
  flex: 1;
  padding-top: 40px;
  display: flex;
}
.today-alarm {
  flex: 1;
  padding-top: 40px;
  display: flex;
}
.cap-tro {
  color: #FFF;
  font-size: 18px;
}
.cap-num {
  color: #FFF;
  font-size: 36px;
}
.img-class {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 5px;
}
.cap-alarm img {
    width: 21px;
    height: 25px;
}
.cap-static {
    width: 400px;
    height: 300px;
    background-color: #000;
    margin-top: 40px;
}
.alarm-prop {
    position: absolute;
    top: 680px;
    bottom: 10px;
    width: 400px;
    background-color: #000;
}
.date-block {
    margin-top: 40px;
}